footer {
	display: flex;
	width: 100%;	
}

.footer-container {
	margin: 0 auto;
}
.footer-logo {
	margin-top: 1.5rem;
	height: 100px;
}
.footer-text{
	font-size: 14px;
}
.footer-email-text {
	background: #fff;
	display: flex;
}
.footer-news-input {
	color: #000;
}

.footer-subs-text {
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 29px;
	letter-spacing: 0px;
	text-align: left;
	margin-right: 30px;
	text-transform: uppercase;
}
  